.program-info-modified-2, .program-info-modified, .program-info, .card-button, .card__item-text, .modal-button, .info__field, .hero-button, .nav__item-link, .about_us-info {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.speakers__title, .program-title, .price__title, .price__list-item-title, .about_us-title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.team__item-name {
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.team__item-text, .modal__box-title {
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.hero-author {
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.about_us {
  display: flex;
  align-items: center;
  gap: 32px;
}

.about_us-title {
  font-size: 24px;
  text-align: start;
  color: #3C322D;
}
@media only screen and (min-width: 375px) {
  .about_us-title {
    font-size: calc(24px + 8 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .about_us-title {
    font-size: 32px;
  }
}

.about_us-img {
  width: clamp(280px, 70vw, 608px);
  height: clamp(285px, 35vh, 381px);
}

.about_us-info {
  font-style: Regular;
  font-size: 16px;
  color: #3C322D;
}
@media only screen and (min-width: 375px) {
  .about_us-info {
    font-size: calc(16px + 2 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .about_us-info {
    font-size: 18px;
  }
}

.about_us-text {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about_us-bg {
  background-color: #E5E2E3;
}

.about_us-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.about_us-more {
  display: none;
}

@media (max-width: 1024px) {
  .about_us-more {
    cursor: pointer;
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3C322D;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 375px) {
  .about_us-more {
    font-size: calc(16px + 2 * (100vw - 375px) / 1545);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 1920px) {
  .about_us-more {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .about_us-info {
    width: 360px;
  }
  .about_us {
    flex-direction: column;
  }
}
.body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav__item {
  padding: 4px 8px;
}
.nav__item:hover {
  background: linear-gradient(rgba(248, 110, 103, 0.63), rgba(253, 86, 143, 0.86));
  padding: 4px 8px;
  color: #F6F7F7;
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
}
.nav__item-link {
  font-size: 18px;
  color: #3C322D;
}

.nav__item-link {
  color: #F6F7F7;
}

.header__burger-btn {
  position: relative;
  width: 30px;
  height: 16px;
  display: none;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #3C322D;
  border-radius: 2px;
  transition: background-color 0.5s, opacity 0.25s, transform 0.5s;
  will-change: transform;
  z-index: 4;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-6px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(6px);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  background-color: rgb(0, 0, 0);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  background-color: rgb(0, 0, 0);
}

.header {
  display: flex;
  gap: 3vw;
  padding-top: 36px;
}

.circle-wrap {
  display: none;
}

@media (max-width: 954px) {
  .nav {
    gap: 0px;
  }
  .nav__item {
    padding: 4px 6px;
  }
}
@media (max-width: 768px) {
  .menu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    max-width: 768px;
    min-width: 320px;
    background-color: rgb(229, 226, 227);
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;
  }
  .nav {
    flex-direction: column;
    gap: clamp(40px, 5vw, 60px);
    text-align: center;
    padding-top: 140px;
    padding-bottom: clamp(52px, 30vw, 290px);
  }
  .nav__item {
    padding: 10px 28px;
  }
  .nav__item:hover {
    padding: 10px 28px;
  }
  .header__burger-btn {
    display: block;
  }
  .header.open .menu {
    transform: translateX(-100%);
    visibility: visible;
  }
  .header.open {
    justify-content: space-between;
    height: 1024px;
  }
  .header {
    justify-content: space-between;
  }
  .header__logo {
    z-index: 4;
  }
  .burger-link {
    font-size: 28px;
    font-family: "Montserrat Alternates";
    font-weight: 500;
  }
}
@media only screen and (max-width: 768px) and (min-width: 375px) {
  .burger-link {
    font-size: calc(28px + 12 * (100vw - 375px) / 1545);
  }
}
@media only screen and (max-width: 768px) and (min-width: 1920px) {
  .burger-link {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .circle-wrap {
    display: flex;
    position: relative;
  }
  .burger-circle {
    z-index: 5;
    position: absolute;
  }
  .one {
    left: -330px;
    top: -100px;
  }
  .two {
    left: 285px;
    top: -280px;
  }
  .three {
    left: -110px;
    top: -640px;
  }
  .four {
    left: 250px;
    top: 85px;
  }
  .five {
    left: -100px;
    top: -275px;
  }
  .six {
    left: 60px;
    top: -35px;
  }
}
.header__logo {
  width: clamp(106px, 20vw, 158px);
  height: clamp(46.25px, 9vw, 70px);
}

.hero-title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0%;
  font-size: 28px;
  max-width: 757px;
}
@media only screen and (min-width: 375px) {
  .hero-title {
    font-size: calc(28px + 32 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .hero-title {
    font-size: 60px;
  }
}

.hero__list-icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.hero__list-icon:hover {
  color: rgb(243, 132, 140);
}
.hero__list-icon:focus {
  color: rgb(243, 132, 140);
  outline: none;
}

.hero-author {
  font-size: 16px;
  text-align: left;
  font-family: "Montserrat Alternates";
  padding-top: calc(10px + 10 * (100vw - 768px) / 1152);
  padding-bottom: calc(24px + 4 * (100vw - 768px) / 1152);
}
@media only screen and (min-width: 375px) {
  .hero-author {
    font-size: calc(16px + 8 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .hero-author {
    font-size: 24px;
  }
}

.hero-button {
  background-color: rgb(243, 132, 140);
  padding: 8px 30px 9px 31px;
  border-radius: 25px;
  color: #F6F7F7;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  border: 1px solid transparent;
}
.hero-button:hover {
  border: 1px solid rgb(243, 132, 140);
  background-color: #F6F7F7;
  color: rgb(243, 132, 140);
}
.hero-button:focus {
  background-color: rgb(243, 132, 140);
  color: #F6F7F7;
  border: 1px solid transparent;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45), inset 0px 4px 4px 0px rgba(107, 66, 66, 0.25);
}

.hero-button {
  margin-bottom: calc(20px + 12 * (100vw - 768px) / 1152);
  max-width: 145px;
}

.hero {
  padding-bottom: calc(43px + 47 * (100vw - 768px) / 1152);
  display: flex;
  flex-direction: column;
  padding-top: calc(20px + 45 * (100vw - 320px) / 1600);
}

@media (max-width: 768px) {
  .hero-button {
    padding: clamp(8px, 2vw, 9px) clamp(30px, 5vw, 35px) clamp(9px, 2vw, 9px) clamp(31px, 5vw, 35px);
  }
  .hero-author {
    padding-top: calc(18px + -8 * (100vw - 320px) / 448);
    padding-bottom: calc(28px + -4 * (100vw - 320px) / 448);
  }
  .hero {
    padding-bottom: calc(8px + 35 * (100vw - 320px) / 448);
  }
  .hero-button {
    margin-bottom: calc(28px + -8 * (100vw - 320px) / 448);
  }
  .hero-title {
    max-width: 385px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
@media (max-width: 320px) {
  .hero {
    align-items: center;
  }
  .hero-title {
    text-align: center;
    letter-spacing: -3%;
    line-height: 100%;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
  padding: 20px;
  z-index: 1;
  margin: 30px 15px;
  background-color: #F6F7F7;
  box-shadow: 15px 15px 25px 3px rgba(232, 183, 183, 0.45);
  transform: scale(0);
  transition: transform 0.8s;
  background-image: url(/img/hero/modal-bg.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.modal__box::before {
  content: "";
  background-image: url(/img/hero/modal-bg-white.png);
  z-index: -1;
  position: absolute;
  width: 80%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.info__field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(46, 37, 32);
  font-size: 16px;
  color: rgb(46, 37, 32);
  max-width: 190px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  left: 90%;
}

.modal__close-svg {
  width: 16px;
  height: 16px;
  transition: color 0.4s;
}

.modal__close-svg:hover {
  color: rgb(243, 132, 140);
}

.modal__box-title {
  font-size: 16px;
  max-width: 70%;
  padding-top: 30px;
}
@media only screen and (min-width: 375px) {
  .modal__box-title {
    font-size: calc(16px + 4 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .modal__box-title {
    font-size: 20px;
  }
}

.modal-button {
  margin: 30px;
  background-color: rgb(243, 132, 140);
  padding: 8px 30px 9px 31px;
  border-radius: 25px;
  color: #F6F7F7;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  border: 1px solid transparent;
}
.modal-button:hover {
  border: 1px solid rgb(243, 132, 140);
  background-color: #F6F7F7;
  color: rgb(243, 132, 140);
}
.modal-button:focus {
  background-color: rgb(243, 132, 140);
  color: #F6F7F7;
  border: 1px solid transparent;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45), inset 0px 4px 4px 0px rgba(107, 66, 66, 0.25);
}

@media (min-width: 350px) {
  .modal__box-title {
    text-align: left;
  }
  .modal-button {
    margin-left: 0px;
  }
}
.hero-author {
  text-align: left;
}

.price__list {
  display: flex;
  flex-direction: row;
  gap: clamp(14px, 1.66vw, 32px);
}
.price__list-item {
  background-color: rgb(250, 251, 251);
  border-radius: 25px;
}
.price__list-item-title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: "SemiBold";
}

.price__title {
  font-size: 32px;
  margin-bottom: 27px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card::after {
  content: "";
  background-image: url(/img/price/price-card-bg.png);
  position: absolute;
  background-size: cover;
  z-index: 4;
  top: 0;
  left: 150px;
}
.card-button-div {
  position: relative;
}

.card-button-div::before {
  content: "";
  background-image: url(/img/price/price-card-bg.png);
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  max-width: 300px;
  max-height: 218px;
  min-height: 145px;
  min-width: 200px;
}

.card-button {
  margin: 30px;
  background-color: rgb(243, 132, 140);
  padding: 8px 30px 9px 31px;
  border-radius: 25px;
  color: #F6F7F7;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  border: 1px solid transparent;
}
.card-button:hover {
  border: 1px solid rgb(243, 132, 140);
  background-color: #F6F7F7;
  color: rgb(243, 132, 140);
}
.card-button:focus {
  background-color: rgb(243, 132, 140);
  color: #F6F7F7;
  border: 1px solid transparent;
  box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45), inset 0px 4px 4px 0px rgba(107, 66, 66, 0.25);
}

.card-button-div {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .price__list-item-title {
    font-size: 18px;
    padding-top: calc(20px + 8 * (100vw - 768px) / 1152);
    padding-bottom: clamp(17px, 17px + 23 * (100vw - 768px) / 1152, 40px);
  }
}
@media only screen and (min-width: 768px) and (min-width: 375px) {
  .price__list-item-title {
    font-size: calc(18px + 2 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 768px) and (min-width: 1920px) {
  .price__list-item-title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .price__list-item-title {
    padding-top: 20px;
    padding-bottom: 16px;
  }
}
@media (max-width: 350px) {
  .price__list {
    display: flex;
    flex-direction: column;
  }
}
.program-info-modified-2, .program-info-modified, .program-info, .about_us-info, .nav__item-link, .hero-button, .info__field, .modal-button, .card__item-text, .card-button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.speakers__title, .program-title, .about_us-title, .price__list-item-title, .price__title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.team__item-name {
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.team__item-text, .modal__box-title {
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.hero-author {
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.program {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.program-info-modified {
  font-size: 16px;
}
@media only screen and (min-width: 375px) {
  .program-info-modified {
    font-size: calc(16px + 2 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .program-info-modified {
    font-size: 18px;
  }
}
.program_img-first {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 65px;
}
.program_img-second {
  display: flex;
  flex-direction: column;
}
.program-img {
  width: 290px;
}
.program_list-img {
  position: relative;
  top: 100px;
  display: flex;
}
.program-section {
  gap: 215px;
  display: flex;
  align-items: center;
}
.program-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
.program-title {
  color: #3C322D;
  font-size: 24px;
  text-align: start;
}
@media only screen and (min-width: 375px) {
  .program-title {
    font-size: calc(24px + 8 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .program-title {
    font-size: 32px;
  }
}
.program-ico {
  width: 24px;
  height: 24px;
}
.program-item {
  align-items: center;
  display: flex;
  gap: 10px;
}
.program-info {
  color: #3C322D;
}
.program-info-modified {
  color: #3C322D;
  width: 370px;
}
.program-info-modified-2 {
  color: #3C322D;
  width: 400px;
}
.program_read-more {
  display: none;
}

@media (max-width: 1024px) {
  .program-section {
    align-items: center;
    gap: 200px;
  }
  .program_img-first {
    position: static;
    gap: 20px;
  }
  .program_img-second {
    gap: 40px;
  }
  .program-img {
    width: 190px;
  }
  .program-info-modified-2 {
    display: none;
  }
  .program_read-more {
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3C322D;
    display: block;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 375px) {
  .program_read-more {
    font-size: calc(16px + 2 * (100vw - 375px) / 1545);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 1920px) {
  .program_read-more {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .program-section {
    flex-direction: column;
    gap: 0;
  }
  .program_img-first {
    gap: 30px;
    position: relative;
    bottom: 40px;
  }
  .program_img-second {
    gap: 30px;
  }
  .program-img {
    width: 200px;
  }
}
.registration_container {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f8f6f7, #fff);
}

.registration {
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(to bottom, #f8f6f7, #fff);
}

.registration h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card-left img {
  width: 120px;
  margin-bottom: 20px;
}

.card-left .date {
  font-size: 16px;
  color: #333;
}

.card-right {
  flex: 2;
  display: flex;
  position: relative;
}

.form-container {
  background: #fff;
  padding: 40px;
  z-index: 2;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.form-container h3 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 15px;
}

.form-container button {
  background: #f66b6b;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.bg-image {
  background: url("/img/registration/donuts-bg.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.reviews_section {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f8f8fa;
  text-align: center;
  position: relative;
  color: #333;
  overflow-x: hidden;
}

.reviews {
  font-size: 28px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 40px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.review {
  text-align: center;
}

.review img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}

.stars {
  margin-top: 10px;
  font-size: 18px;
  color: #ffcc00;
}

.main-review {
  max-width: 700px;
  margin: 50px auto 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  position: relative;
  z-index: 1;
}

.pagination {
  margin: 20px auto 60px;
  font-size: 14px;
  color: #999;
  position: relative;
  display: inline-block;
}

.pagination::before,
.pagination::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #e0e0e0;
  vertical-align: middle;
  margin: 0 10px;
}

.pagination::before {
  background-color: #d9627b;
}

.pagination::after {
  background-color: #d9627b;
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.1;
}

.circle1 {
  width: 80px;
  height: 80px;
  left: 50px;
  top: 100px;
  border: 10px solid #f0f0f0;
  background: transparent;
}

.circle2 {
  width: 100px;
  height: 100px;
  right: 40px;
  top: 100px;
  border: 10px solid #ff9999;
  background: transparent;
}

.circle3 {
  width: 60px;
  height: 60px;
  left: 48%;
  top: 350px;
  border: 8px solid #999;
  background: transparent;
}

.speakers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speakers {
  text-align: center;
}

.speakers__title {
  font-size: 32px;
  padding-top: clamp(0px, 0px + 24 * (100vw - 320px) / 448, 24px);
  text-align: center;
}

.team {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.team__item {
  width: clamp(130px, 19.8vw, 288px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__item-photo {
  width: clamp(130px, 19.8vw, 288px);
  height: clamp(141px, 21vw, 305px);
  -o-object-fit: contain;
     object-fit: contain;
}
.team__item-name {
  font-size: 18px;
  padding: 20px 0px;
}
.team__item-text {
  font-size: 12px;
  width: clamp(130px, 19.8vw, 181px);
}
@media only screen and (min-width: 375px) {
  .team__item-text {
    font-size: calc(12px + 4 * (100vw - 375px) / 1545);
  }
}
@media only screen and (min-width: 1920px) {
  .team__item-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .team {
    gap: clamp(20px, 20px + 12 * (100vw - 320px) / 448, 32px);
  }
  .team__item-name {
    font-size: 16px;
    padding: clamp(12px, 12px + 8 * (100vw - 320px) / 448, 20px) 0;
  }
}
@media only screen and (max-width: 768px) and (min-width: 375px) {
  .team__item-name {
    font-size: calc(16px + 2 * (100vw - 375px) / 1545);
  }
}
@media only screen and (max-width: 768px) and (min-width: 1920px) {
  .team__item-name {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .speakers__title {
    font-size: 24px;
    padding-bottom: clamp(16px, 16px + 4 * (100vw - 320px) / 448, 20px);
  }
}
@media only screen and (max-width: 768px) and (min-width: 375px) {
  .speakers__title {
    font-size: calc(24px + 8 * (100vw - 375px) / 1545);
  }
}
@media only screen and (max-width: 768px) and (min-width: 1920px) {
  .speakers__title {
    font-size: 32px;
  }
}
@media (max-width: 660px) {
  .team {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .speakers__title {
    padding-top: clamp(24px, 24px + 76 * (100vw - 768px) / 1152, 100px);
  }
}
.container {
  max-width: 1258px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */