@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/variables";
@import "./components/about_us";
@import "./components/header";
@import "./components/hero";
@import "./components/price";
@import "./components/program";
@import "./components/registration";
@import "./components/reviews";
@import "./components/team";
@import "./components/footer.scss";
.container {
    max-width: 1258px;
    margin: 0 16px;
    padding: 0 auto;
}