@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/variables";
@import "./components/about_us";
@import "./components/header";
@import "./components/hero";
@import "./components/price";
@import "./components/program";
@import "./components/registration";
@import "./components/reviews";
@import "./components/team";
@import "./components/footer.scss";
.container {
    max-width: 1258px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}
.header-hero-bg {
    position: relative;
    overflow: hidden;
}

.header-hero-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/img/hero/hero-header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    z-index: -1; 
}