@import "../utils/variables";

.about_us
{
    display: flex;
    align-items: center;
    gap: 32px;
}
.about_us-title
{
    @include fluid-type(24, 32);
    @extend %second-title;
    text-align: start;
    color: $primary-text-color;
}
.about_us-img
{
    width: clamp(280px, 70vw, 608px);
    height: clamp(285px, 35vh, 381px);
}
.about_us-info
{
    @extend %small-text;
    font-style: Regular;
    @include fluid-type(16, 18);
    color: $primary-text-color;
}
.about_us-text
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about_us-bg
{
    background-color: #E5E2E3;

}
.about_us-item
{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.about_us-more
{
    display: none;
}
@media (max-width: 1024px)
{
    .about_us-more
    {
        cursor: pointer;
        display: block;
        font-family: Montserrat;
        font-weight: 500;
        @include fluid-type(16, 18);
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: $primary-text-color;
    }
}
@media (max-width: 768px)
{
    .about_us-info
    {
        width: 360px;
    }
    .about_us
    {
        flex-direction: column;
    }
}