@import "../utils/variables";
.about_us
{
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: #E5E2E3;
}
.about_us-title
{
    @include fluid-type(24, 32);
    @extend %second-title;
    text-align: start;
    color: $primary-text-color;
}
.about_us-info
{
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $primary-text-color;
    width: 600px;
}
.about_us-text
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}