
.hero-title {
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0%;
    @include fluid-type(28, 60);
    max-width: 757px;
}
.hero__list-icon {
    width: 16px;
    height: 16px;
    margin-right: 16px;

    &:hover {
        color: $hero-btn-bg;
    }

    &:focus {
        color: $hero-btn-bg;
        outline: none;
    }
}
.hero-author {
    @extend %paragraph-text;
    @include fluid-type(16, 24); 
    text-align: left;
    font-family: 'Montserrat Alternates';
    padding-top: calc(10px + (20 - 10) * ((100vw - 768px) / (1920 - 768)));
    padding-bottom: calc(24px + (28 - 24) * ((100vw - 768px) / (1920 - 768)));
}
.hero-button {
    @extend %small-text; 
    background-color: $hero-btn-bg;
    padding: 8px 30px 9px 31px;
    border-radius: 25px;
    color: $secondary-text-color;
    box-shadow: 10px 15px 25px 0px $hero-btn-shadow;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid $hero-btn-bg;
        background-color: $secondary-text-color;
        color: $hero-btn-bg;   
    }

    &:focus {
        background-color: $hero-btn-bg;
        color: $secondary-text-color;
        border: 1px solid transparent;
        box-shadow: 10px 15px 25px 0px $hero-btn-shadow, inset 0px 4px 4px 0px $hero-inner-btn-shadow;
    }
}
.hero-button {
    margin-bottom: calc(20px + (32 - 20) * ((100vw - 768px) / (1920 - 768)));
    max-width: 145px;
}
.hero {
    padding-bottom: calc(43px + (90 - 43) * ((100vw - 768px) / (1920 - 768)));
    display: flex;
    flex-direction: column;
    padding-top: calc(20px + (65 - 20) * ((100vw - 320px) / (1920 - 320)));
}
@media (max-width: 768px) {
    .hero-button {
        padding: 
        clamp(8px, 2vw, 9px) 
        clamp(30px, 5vw, 35px) 
        clamp(9px, 2vw, 9px) 
        clamp(31px, 5vw, 35px); 
    }
    .hero-author {
        padding-top: calc(18px + (10 - 18) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(28px + (24 - 28) * ((100vw - 320px) / (768 - 320)));
    }
    .hero {
        padding-bottom: calc(8px + (43 - 8) * ((100vw - 320px) / (768 - 320)));
    }
    .hero-button {
        margin-bottom: calc(28px + (20 - 28) * ((100vw - 320px) / (768 - 320)));
    }
}
@media (max-width: 320px) {
    .hero {
        align-items: center;

        &-title {
            text-align: center;
            letter-spacing: -3%;
            line-height: 100%;
        }
    }
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background-color: rgba(0,0,0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}
.modal__box {
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: $secondary-text-color;
    box-shadow: 15px 15px 25px 3px $hero-btn-shadow;
    transform: scale(0);
    transition: transform 0.8s;
    background-image: url(/img/hero/modal-bg.png);
    background-repeat: no-repeat;
}
.modal__box::before {
    content: "";
    background-image: url(/img/hero/modal-bg-white.png);
}
.info {
    display: flex;
    flex-direction: column;
}
.info input {
    max-width: 200px;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}
.modal.open .modal__box {
    transform: scale(1);
}
.modal__close-btn {
    position: absolute;
    top: 8px;
    left: 220px;
}
.modal__close-svg {
    width: 12px;
    height: 12px;
    transition: color 0.4s;
}
.modal__close-svg:hover {
    color: $hero-btn-bg;
}