.price__list {
    display: flex; 
    flex-direction: row;
    gap: clamp(14px, 1.66vw, 32px);

    &-item {
        background-color: $price-card-color;
        border-radius: 25px;
        
        &-title {
            @extend %second-title; 
            font-family: 'Montserrat Alternates';
            font-weight: 600;
            font-style: 'SemiBold';
        }
    }
}
.price__title {
    @extend %second-title;
    font-size: 32px;
    margin-bottom: 27px;
}
.card-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: none;

    &__item {

        &-text {
            @extend %small-text;
        }
    }
}
.card-button-div {
    position: relative;
    padding-top: clamp(32px, calc(32px + (160 - 32) * ((100vw - 320px) / (1920 - 320))), 160px);
}
.price__list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 10px 15px 25px 0px rgba(210, 201, 201, 0.45);
    border: 1px solid transparent;

    &:hover {
        border: 1px solid rgba(243, 132, 140, 1);
    }
}
.price__list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-price {
    margin-bottom: auto; 
}

.card-button-div {
    margin-top: auto; 
}

.card-button-div::before {
    content: "";
    background-image: url(/img/price/price-card-bg.png);
    position: absolute;
    background-size: cover;
    top: -100%;
    left: 10%;
    width: clamp(200px,calc(200px + (300 - 200) * ((100vw - 320px) / (1920 - 320))),300px);
    height: clamp(145px,calc(145px + (218 - 145) * ((100vw - 320px) / (1920 - 320))),218px);
}
.card-button {
    margin: 30px;
    @extend %small-text; 
    background-color: $hero-btn-bg;
    padding: 8px 30px 9px 31px;
    border-radius: 25px;
    color: $secondary-text-color;
    box-shadow: 10px 15px 25px 0px $hero-btn-shadow;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid $hero-btn-bg;
        background-color: $secondary-text-color;
        color: $hero-btn-bg;   
    }

    &:focus {
        background-color: $hero-btn-bg;
        color: $secondary-text-color;
        border: 1px solid transparent;
        box-shadow: 10px 15px 25px 0px $hero-btn-shadow, inset 0px 4px 4px 0px $hero-inner-btn-shadow;
    }
}
.card-price__item-text {
    position: relative;
    padding-left: 51px;
}
.card-price__item-text::before {
    content: "";
    background-image: url(/img/price/price-card-symbol.png);
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
}
.card-button-div {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}
@media (min-width: 768px) {
    .price__list-item-title {
        @include fluid-type(18,20);
         padding-top:  calc(20px + (28 - 20) * ((100vw - 768px) / (1920 - 768)));
         padding-bottom: clamp(17px,calc(17px + (40 - 17) * ((100vw - 768px) / (1920 - 768))),40px);
    }
}
@media (max-width: 768px) {
    .price__list-item-title {
        padding-top: 20px;
        padding-bottom: 16px;
    }
}
@media (max-width: 350px) {
    .price__list {
        display: flex;
        flex-direction: column;
    }
}
