@import "../utils/placeholders";
@import "../utils/variables";
.program
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    &-info-modified
    {
        @include fluid-type(16, 18);
    }
    &_img-first
    {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 65px;
    }
    &_img-second
    {
        display: flex;
        flex-direction: column;
    }
    &-img
    {
        width: 290px;
    }
    &_list-img
    {
        position: relative;
        top: 100px;
        display: flex;
    }
    &-section
    {
        gap: 215px;
        display: flex;
        align-items: center;
        height: 750px;
    }
    &-list
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }
    &-title
    {
        color: $primary-text-color;
        @include fluid-type(24, 32);
        text-align: start;
        @extend %second-title;
    }
    &-ico
    {
        width: 24px;
        height: 24px;
    }
    &-item
    {
        align-items: center;
        display: flex;
        gap: 10px;
    }
    &-info
    {
        color: $primary-text-color;
        @extend %small-text;
        &-modified
        {
            color: $primary-text-color;
            @extend %small-text;
            width: 370px;
            &-2
            {
                color: $primary-text-color;
                @extend %small-text;
                width: 400px;
            }
        }
    }
    &_read-more
    {
        display: none;
    }
}
@media (max-width: 1024px)
{
    .program
    {
        &-section
        {
            align-items: center;
            gap: 200px;
        }
        &_img-first
        {
            position: static;
            gap: 20px;
        }
        &_img-second
        {
            gap: 40px;
        }
        &-img
        {
            width: 190px;
        }
        &-info-modified-2
        {
            display: none;
        }
        &_read-more
        {
            
            cursor: pointer;
            font-family: Montserrat;
            font-weight: 500;
            @include fluid-type(16, 18);
            line-height: 100%;
            letter-spacing: 0%;
            color: $primary-text-color;
            display: block;
        }
    }
}
@media (max-width: 768px)
{

    .program
    {
        &-section
        {
            flex-direction: column;
            gap: 0;
            height: 1000px;
        }
        &_img-first
        {
            gap: 30px;
            position: relative;
            bottom: 40px;
        }
        &_img-second
        {
            gap: 30px;
        }
        &-img
        {
            width: 150px;
        }
        &-title {
            margin-top: 28px;
            text-align: center;
        }
        &-info {
            max-width: 320px;
        }
        &-info-modified {
            max-width: 320px;
        }
    }

}