.registration_container {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  overflow: hidden;
}


.registration_container::before,
.registration_container::after {
  content: "";
  position: absolute;
  border: 20px solid rgba(246, 107, 107, 0.1); 
  border-radius: 50%;
  z-index: 0;
}

.registration_container::before {
  width: 100px; 
  height: 100px;
  top: 55%; 
  left: 40px; 
}

.registration_container::after {
  width: 80px;
  height: 80px;
  bottom: 30%;
  right: 20px;
}

.registration {
  text-align: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.registration h2 {
  margin-bottom: 30px;
  font-family: "Montserrat Alternates";
  font-size: 28px;
  @extend %second-title;
}

.card {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  background: rgba(246, 247, 247, 1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  position: relative;
  z-index: 2;

}
.card-right {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}
.card-left-date {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  border-right: 1px solid rgba(46, 37, 32, 1);
  padding: 59px 28px 59px 0px;
}
.form-container {
  position: relative;
  z-index: 2;
  max-width: 300px;
}
.bg-image::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: url('/img/registration/donuts-bg.png') no-repeat right center;
  background-size: cover;
  z-index: 5;
  pointer-events: none; 
}

.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: url('/img/registration/donuts-bg-wave.png') no-repeat right center;
  background-size: cover;
  z-index: 1;
  pointer-events: none;
}
.card-right {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
  padding: 40px;
  overflow: hidden;
  max-height: 246px;
}

.form-container {
  position: relative;
  z-index: 3;
  max-width: 300px;
  max-height: 246px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.form-title {
  @extend %parag-text;
}
.registration-button {
  @extend %small-text; 
    background-color: $hero-btn-bg;
    border-radius: 25px;
    color: $secondary-text-color;
    box-shadow: 10px 15px 25px 0px $hero-btn-shadow;
    border: 1px solid transparent;
    width: 145px;
    height: 40px;

    &:hover {
        border: 1px solid $hero-btn-bg;
        background-color: $secondary-text-color;
        color: $hero-btn-bg;   
    }

    &:focus {
        background-color: $hero-btn-bg;
        color: $secondary-text-color;
        border: 1px solid transparent;
        box-shadow: 10px 15px 25px 0px $hero-btn-shadow, inset 0px 4px 4px 0px $hero-inner-btn-shadow;
    }
}
.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: url('/img/registration/donuts-bg.png') no-repeat right center;
  background-size: cover;
  z-index: 1;
  pointer-events: none;
  max-height: 246px;
}
.bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/img/registration/donuts-bg-wave.png') no-repeat right center;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
  max-height: 246px;
}
.card-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 40px 40px;
  max-height: 246px;
}

.card-left img {
  width: 120px;
  margin-bottom: 20px;
}

.card-left .date {
  font-size: 16px;
  color: #333;
}

.card-right {
  flex: 2;
  display: flex;
  position: relative;
}
.form-container h3 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}
.form-list {
  gap: 16px;
}
.form-container input {
  display: block;
  max-width: 238px;
  border: none;
  border-bottom: 1px solid rgba(46, 37, 32, 1);
  margin-bottom: 15px;
  background-color: rgba(246, 247, 247, 1);
  @extend %smal-text;
  font-size: 16px;
}

.form-container button {
  background: #f66b6b;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .registration-button {
    margin-left: 54px;
  }
  .card-left {
    flex-direction: column-reverse;
    gap: 8px;
  }
  .card-left-date {
    padding: 0;
    border: none;
  }
  .card-left {
    border-right: 1px solid rgba(46, 37, 32, 1);
    padding: 0;
    margin-top: 55px;
    height: 154px;
  }
}
@media (max-width: 600px) {
  .form-container {
    flex-direction: column;

    & input {
      background: none;
      color: $secondary-text-color;
      border-bottom: 1px solid $secondary-text-color;
      width: 264px;

      &::placeholder {
        color: $secondary-text-color;
      }
    }
    & button {
      margin-bottom: 32px;
    }
  }
  .bg-image {
    background: none;

    &::after {
      display: none;
    }
  }
  .card {
    flex-direction: column;
    margin: 0px 20px;
    background: linear-gradient(rgba(61, 44, 44, 0.5), rgba(61, 44, 44, 0.5)), url('/img/registration/donuts-bg.png') no-repeat right center;
    background-size: cover;
    color: $secondary-text-color;
    display: flex;
    align-items: center;
  }
  .card-right {
    position: static;
  }
  .card-left-photo {
    display: none;
  }
  .registration-button {
    margin: 0;
  }
  .card-left-date {
    text-align: center;
    padding: 0px 60px 20px 60px;
    border-bottom: 1px solid $secondary-text-color;
    margin-bottom: 20px;
  }
  .form-container h3 {
    text-align: center;
  }
}