%small-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
%second-title {
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
%small-text-bold {
    font-family: 'Montserrat';
    font-weight: 600;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
%paragraph-text {
    font-family: 'Montserrat';
    font-weight: 500;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}