$secondary-text-color: #F6F7F7;
$primary-text-color: #3C322D;
$button-color: #F3848C;
$hover-bg-top: rgba(248, 110, 103, 0.63);
$hover-bg-bottom: rgba(253, 86, 143, 0.86);
$burger-btn-color: rgba(0, 0, 0, 1);
$main-bg-color: rgba(229, 226, 227, 1);
$header-shadow-color: rgba(253, 88, 140, 0.35);